---
layout: layout
title: The Setkeh Project
description: Portfolio and Code Rants and Riots
---

{% for post in site.posts %}
	<article class="post">

		<header>
			
				{% if post.link %}
				<h3><a href="{{ post.link }}" class="link-post">{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}</a> → </h3>
			  {% else %}
				<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
				{% endif %}
				<span class="date">{{ post.date | date: "%B %e, %Y" }}</span> – 
				<a href="{{ post.url }}" class="permalink" title="Permalink">Permalink</a>
				
		</header>

      	{{ post.content }}

	</article>
{% endfor %}
