<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta name="author" content="SETKEH" />
	{% if page.description %}<meta name="description" content="{{ page.description }}" />{% endif %}
	<title>{{ page.title }}</title>
	<link href="/css/normalize.css" rel="stylesheet" />
	<link href="http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic" rel="stylesheet" />
	<link href="/css/screen.css" media="screen" rel="stylesheet" />
	<link href="/css/pygments.css" media="screen" rel="stylesheet" />
	<link rel="alternate"  href="http://feeds.feedburner.com/m8ck" type="application/rss+xml" title="RSS Feed"/>
</head>
<body>
	
	<div id="wrapper">
		
		<header id="masterhead">
			<h1 id="header"><a href="/">SETKEH</a></h1>
				<nav>
					<a href="http://twitter.com/setkeh">Twitter</a> -
					<a href="/archive.html">Archive</a> -
					<a href="http://feeds.feedburner.com/m8ck">Feed</a>
				</nav>
			<div class="clear"></div>
    
			
		</header>

		<section>
		
			{{ content }}
		
		</section>

		<footer id="footer">

			<div class="grid">
				Copyright &copy; 2012
			</div>

			<div class="gridright">
			</div>
			
			<div class="clear"></div>
		
		</footer>	
	
	</div>
	
</body>
</html>
